@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
}

header{
	width: 1200px;
	height: 150px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -600px;
	padding: 20px;
}

header .header1{
	display: flex;
	justify-content: space-around;
}

header .header1 *{
	margin: auto 0;
}

header .header1 h1 img{
	width: auto;
	height: 100px;
}

header .header1 .input_search{
	width: 350px;
	height: 30px;
}

header .header2 ul{
	display: flex;
	justify-content: space-around;
}

header .header2 ul li{
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}