@charset "UTF-8";
      * {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-color: #4b2b3010;
        }

       #container{
            width: 1200px;
            margin: 0 auto;
        }
        
        .mainLogo {
        	margin-left: 650px;
        	width: 300px;
        	align-content: center;
        	margin-left: 800px;
        	width: 400px;
        	margin-top: 50px;
        }

        /* 아이디 / 비밀번호 찾기 */
        #text {
            padding: 50px;
            text-align: center;
            margin-left: 30px;

            margin-left: 30%;
            margin-top: 100px;
        }

        /* 아이디 찾기 */
        .search_userId {
            display: block;
            font-size: 25px;
            font-weight: bold;
            padding-bottom: 30px;
            margin-right: 50px;
            margin-top: 50px;
        }

        /* 아이디찾기 - 닉네임 */
        .user_nickName_Info {
            font-size: 20px;
            font-weight: bold;
        }

        /* 아이디 찾기 - 닉네임 text */
        .user_nickName_Info input {
            height: 40px;
            width: 200px;
            border : 2px solid rgb(70, 44, 48);
            border-radius: 25px;
            margin-bottom: 10px;
            text-align: center;
        }

        /* 아이디 찾기 - 이메일 */
        .user_email_Info {
            font-size: 20px;
            font-weight: bold;
        }
        
        /* 아이디 찾기 - 이메일 */
        .user_email_Info input {
            height: 40px;
            width: 200px;
            border : 2px solid rgb(70, 44, 48);
            border-radius: 25px;
            text-align: center;
        }
        
        /* 아이디 찾기 - 저장 / 취소 */
        .check {
            height: 40px;
            width: 70px;
            margin-left: 200px;
            margin-top: 20px;
        }

        /* 아이디 찾기 - 저장 / 취소 */
        .cancel {
            height: 40px;
            width: 70px;
            margin-top: 20px;
        }
    

        /* 비밀번호 찾기 */
        .search_userPw {
            display: block;
            font-size: 25px;
            font-weight: bold;
            padding-bottom: 30px;
            padding-top: 50px;
        }

        /* 비밀번호 찾기 - 아이디 */
        .user_id_Info {
            font-size: 20px;
            font-weight: bold;
        }

        /* 비밀번호 찾기 - 아이디 */
        .user_id_Info input {
            height: 40px;
            width: 200px;
            border : 2px solid rgb(70, 44, 48);
            border-radius: 25px;
            margin-bottom: 10px;
            text-align: center;
        }

        /* 비밀번호 찾기 - 이메일 */
        .user_email_Info {
            font-size: 20px;
            font-weight: bold;
        }

        .user_email_Info input {
            height: 40px;
            width: 200px;
            border : 2px solid rgb(70, 44, 48);
            border-radius: 25px;
        }



        /* 비밀번호 찾기 - 인증번호 */
        .user_check_no {
            font-size: 20px;
            font-weight: bold;
        }

        /* 비밀번호 찾기 - 인증번호 */
        .user_check_no input {
            height: 40px;
            width: 200px;
            border : 2px solid rgb(70, 44, 48);
            border-radius: 25px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        /* 비밀번호 찾기 - 저장 / 취소 */