@charset "UTF-8";

* {
	margin: 0 auto;
}

body{
    background-color: #4b2b3010;
}

.FreeBoardEdit h2 {
	font-size: 30px;
	margin-top: 100px;
	margin-left: 100px;
	color: rgb(70,44,48);
}

.FreeBoardEdit table {
	position: fixed;
	top: 220px;
	left: 50%;
	width: 1200px;
	margin-left: -600px;
	height: 40%;
	border: 2px solid gray;
}

.FreeBoardEdit td {
	font-size: 23px;
	text-align: center;
}

.FreeBoardEdit td input {
	margin: auto;
	height: 30px;
	border: 2px solid gray;
	border-radius: 10px;
}

.FreeBoardEdit tr td textarea {
	margin: auto;
	height: 30px;
	border: 2px solid gray;
	border-radius: 10px;
}

.FreeBoardEdit tr td button {
	width: 120px;
	height: 40px;
	margin-right: 40px;
	border-radius: 15px;
	background-color: #eee;
}