@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	color: black;
	text-decoration: none;
}

li{
	list-style: none;
}

/* body */
body{
    background-color: #4b2b3010;
}

/* .container */
.container{
	position: fixed;
	top: 250px;
	left: 50%;
	margin-left: -600px;
	
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* .main1 */
.main1{
    text-align: center;
}

.main1 h1{
	width: 560px;
	height: 140px;
	margin: 0 auto;
}

.main1 .mainLogo img{
    width: 100%;
    height: 100%;
}

.main1 .input_search{
    width: 700px;
    height: 40px;
    line-height: 40px;
    border: none;
    border: 2px solid #4b2b30;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;
    text-indent: 15px;
}

.main1 .navMenu{
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.main1 .navMenu li{
	width: 15%;
	height: 50px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bolder;
	color: #4b2b30;
}

/* .main2 */
.main2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.main2 div{
    width: 45%;
    height: auto;
    padding: 10px;
    border: 1px solid #4b2b30;
    border-radius: 5px;
 }