@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
.container{
	/* position: fixed;
	top: 200px;
	left: 50%; */
	/* 스크롤 사라지는 현상이 있어 수정중 원래 코드 주석처리했음 */
	margin:0 auto;
	margin-top:200px;
	width: 1200px;
}

.container table{
	margin: 0 auto;
	
	width: 90%;
}

/* #contentArea */
.container #contentArea .subtitle{
	padding: 5px;
	
	border: none;
	border-bottom: 1px solid #4b2b30;
	
	font-size: 15px;
	font-weight: bold;
	background-color:transparent;
}

.container #contentArea .content{
	padding : 10px;
	
	height: auto;
	
	border: none;
	resize: none;
	
	background-color:transparent;
}

#contentArea{
		display: flex;
		flex-direction: column;
	}
	/* 태그 버튼을 감싸는 td */
	.comment_Tag{
	width:20%;
	height:45px;
	text-align:center;
	}
	.comment_Tag>button{
	background-color: grey;
	color:white;
	width:80%;
	line-height:80%;
	height:80%;
	border:1px solid black;
	border-radius:3px;
	
	}
	
	/* 댓글 입력창인 textarea */
	.comment_textarea {
			width: 70%;
			height: 50px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px black;
			border-radius: 5px;
			font-size: 16px;
			resize: none;
			margin-left:20px;
			margin-top : 15px;
			background-color:transparent;
		}
		
	/* 댓글 작성 버튼 */
	.comment_write_btn{
		width:60px;
		height:50px;
	}
	
	/* 댓글 입력창 전체를 감싸는 div */
	.comment_input{
		text-align:center;
		background-color:transparent;
		align-content: center;
	}
	
	.comment_input>*{
		margin: auto 0;
	}
	
	/* 댓글 리스트를 감싸는 div */
	.comment_lists_box{
		width:90%;
		margin: 0 auto;
		border:1px double black;
		background-color:#fff;
		padding:1px;
		background-color:transparent;
	}
	
	/* 하나의 댓글을 감싸는 div */
	.comment_list_content{
		border:1px solid black;
		margin:1px;
		background-color:transparent;
	}
	
	/* 하나의 댓글의 작성자 정보,작성일등의 정보를 감싸는 div */
	.comment_list_content_info{
		border-bottom:1px solid black;
		padding:5px 30px;
		margin:1px;
		background-color:transparent;
	}
	/* 하나의 댓글의 댓글내용을 감싸는 div */
	.comment_list_content_text{
		font-size:14px;
		padding:5px 30px;
		margin:1px;
	}
	/* 댓글 수정하는 모달창 */
	.edit_modal{
		background-color: gray;
		width:600px;
		text-align: center;
		color:white;
		z-index: 1000;
		position:fixed;
		top: 40%;
		left:30%;
		border:3px solid black;
		border-radius:10px;
	}
	/* 모달창의 셀렉트 */
	.edit_modal>choiced_Tag{
		heigth:70px;
		
	}