@charset "UTF-8";

body{
    background-color: #4b2b3010;
}

.FreeBoardView h2 {
	font-size: 30px;
	margin-top: 230px;
	margin-left: 100px;
	color: rgb(70,44,48);
	text-align: center;
}

.FreeBoardView table {
	position: fixed;
	top: 360px;
	left: 50%;
	width: 1200px;
	margin-left: -600px;
	height: 40%;
	border: 2px solid gray;
}

.FreeBoardView tr td {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.FreeBoardView tr td button {
	width: 120px;
	height: 40px;
	margin-right: 40px;
	border-radius: 15px;
	background-color: #eee;
}